.navContainer {
    display: flex;
    height: max-content;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.img {
    width: auto;
    height: 2rem;
    margin-left: 0.5rem;
}

.avatar {
    width: 2rem;
    height: auto;
    border-radius: 40px;
    border: solid 1px black;
}
.dropdownContainer {
    margin-right: 1rem;
    padding: none;
    position: relative;
}

.dropdownButton {
    display: flex;
    padding-bottom: 0.2rem;
    margin: none;
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
}

.dropdownList {
    font-size: 0.9rem;
    list-style: none; 
    padding: 0;
    margin-top: 0.5rem;
    position: absolute;
    max-height: max-content;
    display:flex;
    flex-direction: column;
}

.dropdownLink {
    text-decoration: none; 
    margin: none;
    color: inherit; 
}

.dropdownLink:hover {
    color: rgb(142, 163, 183); 
}
