.sectionContainer {
    padding: 1rem;
    font-weight: 300;
    font-style: normal;

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        font-size: medium;

        h1 {
            color: black;
            font-size: large;
        }

        h2 {
            color: green;
        }

        h3 {
            color: black;
            max-width: 70%;
            text-align: center;
        }
    }

    .features {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid red;

        h2 {
            color: red;
        }

        p {
            width: 50%;
            text-align: center;
        }

        .featureContainer {
            display: flex;
            border: 1px solid black;
            align-items: center;
            width: 70%;

            h2 {
                color: green;
            }

            .leftFeature {
                border: solid 2px red;
                width: 110%;
                text-align: center;

                h3 {
                    color: red;
                    font-size: medium;
                }
            }

            .rightFeature {
                border: solid 2px yellow;

                p {
                    font-size: medium;
                    width: 100%;
                }

                ul {
                    list-style: none;

                    li {
                        color: yellow;
                    }
                }
            }
        }
    }

    .cta {
        display: flex;
        align-items: center;
        align-content: center;
        border: solid 3px green;

        p {
            color: green;
        }

        button {
            color: green;
        }
    }
}
